[submodule "lib/glfw"]
	path = lib/glfw
	url = https://github.com/glfw/glfw.git
	branch = masterv
[submodule "lib/glad"]
	path = lib/glad
	url = https://github.com/Dav1dde/glad.git
	branch = c
[submodule "lib/rtmidi"]
	path = lib/rtmidi
	url = https://github.com/thestk/rtmidi
[submodule "lib/stb"]
	path = lib/stb
	url = https://github.com/nothings/stb
